---
import { getCollection } from "astro:content";
import type { Chapter } from "../types/chapters";

const chapters = await getCollection("chapters");
---

<section class="p-10 max-w-4xl">
    <h2 class="text-3xl">Secciones</h2>
    <ul>
      {chapters.map((chapter: Chapter) => (
        <li class="list-disc ml-5">
          <a href={`/chapters/${chapter.slug}`}>{chapter.data.title}</a>
        </li>
      ))}
    </ul>
  </section>