---

---

<section class="p-10 max-w-4xl prose prose-invert">
  <h1>Django Rest Framework</h1>
  <h2>
    Guía practica para crear una API REST con Django Rest Framework
  </h2>
  <div>
    <p>
        Django Rest Framework es una librería que nos permite crear APIs REST de una
        manera sencilla y rápida. En esta guía aprenderás a crear una API REST con
        Django Rest Framework.
      </p>
      <p>
        Note que Djago es un framework web de alto nivel de Python por lo cual es
        necesario tener conocimientos básicos de Python y Django.
      </p>
      <p>
        A continuación se muestra una lista de los temas que se cubrirán en esta guía:
      </p>
  </div>
</section>
