---

---
<section class="flex flex-col items-center justify-center my-10">
	<h1 class="text-4xl">
		Guía práctica Django
	</h1>
	<p>
		Esta guía te ayudará a aprender Django de una forma práctica y sencilla.
	</p>
</section>
