---
import { ClientRouter } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>GonzDev | Guía práctica Django </title>
		<ClientRouter />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
body {
	background-color: #030712;
	color: white;
}
</style>
